{% extends 'base.html' %}

{% block content %}
<div>
    <a href="{{ url_for('auth.signup') }}" class="button is-link">Registrar</a>
    <a href="{{ url_for('auth.usuarios_evaluaciones') }}" class="button is-link">Resultados</a>    
</div>
<div class="columns is-justify-content-center">
    <div class="column">
        <h1 class="title">
            Usuarios
        </h1>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                <tr>
                    <td>{{ user.codigo }}</td>
                    <td>{{ user.nombres }}</td>
                    <td>{{ user.apellidos }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}